<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="Cmhu-67s2lyjJTMvlEEt-guWXZIUs0wWyOP06nD5rmo" />
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}"></script>
    <link     rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body id="main" style="overflow-x: hidden; background-color:lightblue">


    <section id="head">
        <div class="navbar navbar-light bg-light navbar-expand-lg">
         <a href="#" class="navbar-brand"><img src="{% static 'images/mani.png' %}" alt="" class="image" width="100px"></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span></button>
         <div class="navbar-collapse collapse" id="menu">
           <ul class="navbar-nav ms-auto" style="text-align: right;">
             <li class="nav-item"><a class="nav-link" aria-current="page" href="#contactus">Home</a></li>
             <li class="nav-item"><a class="nav-link" href="#about" tabindex="-1" aria-disabled="true">About</a></li>
             <li class="nav-item"><a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Calculator</a></li>
             <li class="nav-item"><a class="nav-link" href="#support" tabindex="-1" aria-disabled="true">Support</a></li>
           </ul>
         </div>
        </div>
       </section>


    <section id="love-pro">
    <div id="love-content">
        <form method="post" name="form">
            {% csrf_token %}
            <p>Your name</p>
            <input type="text" name="num1" placeholder="Enter your name" class="name" id="num"><br>
            <div id="demo" align="right" style="margin-right: 44px;" style="color: red;"></div><br>
            <div class="radio">
            <input type="radio" name="gender" value="Male" checked>Male
            <input type="radio" name="gender" value="Female">Female<br>
        </div>
            <div>
            <p>Partner's name</p>
            <input type="text" name="num2" placeholder="Enter partner name" class="name" id="num1"><br>
            <div id="demo1" align="right" style="margin-right: 44px;" style="color: red;"></div><br>
            <div class="radio">
            <input type="radio" name="gender1" value="Male1">Male
            <input type="radio" name="gender1" value="Female1" checked>Female<br>
          
            <div id="result">
            {% if result >= 90 %}
                 <p>{{result}}%</p>
                 <p class="res">Made for each other</p>
            {% elif result >= 80 %}
                <p>{{result}}%</p>
                <p class="res">Perfect Relationship</p>
            {% elif result <= 89 %}
                <p>{{result}}%</p>
                <p class="res">Perfect Relationship</p>
            {% elif result >= 70 %}
                <p>{{result}}%</p>
                <p class="res">You just need a cute long lasting relationship</p>
            {% elif result <= 74 %}
                <p>{{result}}%</p>
                <p class="res">You just need a cute long lasting relationship</p>
            {% elif result >= 75 %}
                <p>{{result}}</p>
                <p class="res">Beautiful Relationship</p>
            {% elif result <= 79 %}
                <p>{{result}}%</p>
                <p class="res">Beautiful relationship</p>
            {% elif result >= 60 %}
                <p>{{result}}%</p>
                <p class="res">Cute and care</p>
            {% elif result <= 64 %}
                <p>{{result}}%</p>
                <p class="res">Cute and care</p>
            {% elif result >= 65 %}
                <p>{{result}}%</p>
                <p class="res">Sweet and beautiful relationship</p>
            {% elif result <= 69 %}
                <p>{{result}}%</p>
                <p class="res">Sweet and beautiful relationship</p>
            {% elif result <= 59 %}
                <p>{{result}}%</p>
                <p class="res">So blessed and wonderful relationship</p>
            {% elif result >= 50 %}
                <p>{{result}}%</p>
                <p class="res">So blessed and wonderful relationship</p>
            {% elif result <= 49 %}
                <p>{{result}}%</p>
                <p class="res">Try and Stay happy</p>
            {% elif result >= 40 %}
                <p>{{result}}%</p>
                <p class="res">Try and stay happy</p>
           
            {% endif %}


                <div id="btn">
                <button value="calculate" name="calculate" onclick="return fn1()">calculate</button>
        </div>
            </div>  

        </div>


         

       
        
        </div>
        </div>
        
        </form>
    
    </div>
</section>

<section class="container">
            <h3 style="margin-top: 40px; color:crimson; text-align:center; margin-bottom:20px">Love compatibility calculator</h3>
           <table class="table table-success table-striped table-hover">
            <thead>
              <th scope="col"><S class="NO"></S></th>
              <th scope="col">Name</th>
              <th scope="col">Results</th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <th scope="row">Romeo-Juliet</th>
                <th scope="row">74</th>
              </tr>
              <tr>
                <th scope="row">2</th>
                <th scope="row">Dog-Duck</th>
                <th scope="row">63</th>
              </tr>
              <tr>
                <th scope="row">3</th>
                <th scope="row">Male-Female</th>
                <th scope="row">76</th>
              </tr>
              <tr>
                <th scope="row">4</th>
                <th scope="row">Devadas-Parvati</th>
                <th scope="row">98</th>
              </tr>
              <tr>
                <th scope="row">5</th>
                <th scope="row">Duck-Dog</th>
                <th scope="row">63</th>
              </tr>
            </tbody>
           </table>
</section>

    <section id="about">
        <div id="about-des">
        <h1>Love compatibility calculator</h1>
        <p>Friendship calculator is used to find out the compatibility between 2 persons based on their alphabets.First name and last name conver to numeric using ascii code then first number and last number will be added using loop.</p>   
        <p>Our love calculator by between two names a love compatibility test based on the name and birth details of you and your partner. it displays a love percentage that shows how well you match with your partner and what are the chances of success of your relationship.So, are you ready to make the most of the real love calculator </p>
        <h1>How does love percentage calculator work</h1>
        <p>The love calculator follows certain algorithms to calculate love percentage.This true love compatability test follows an acient system of numerology that uses your names .it also includes planetery influences which are analyzed socely on the basis of your date of birth.
            since,the date of birth and name are the main aspects of finding love percentage,the love calculator is reffered to as a true love name match or true love name match or true love calculator by date of birth
        </p>
        <h1>How to use the Love calculator</h1>
        <p>To use this love compatibility calculator, all you need to do is follows these simple three steps:</p>
        <ol>
            <li>Enter the name of the boy</li>
            <li>Enter the name of the girl</li>
            <li>Click on love calculator</li>
        </ol>
        <p>That's all you will immediately be taken to the result screen which will hold the answer to your questions,in the form of your compatibility percentage.</p><br>

        <p>If your compatability meter states that your love percentage is above 85%,then that is the kind of love you need to  hang on to. There are certain people that we would miss even if we never met them and if your soulmate,your twin flame,and you need to hold on to that relationship,because their soul complete yours.</p>
    </div>

    <div id="back-cover">
          <marquee behavior="" direction="right"><span>Love calculator</span></marquee>
    </div>
    </section>



    <section id="support">
        <div id="final">
        <div id="logo">
             <h6>Contact us</h6>
            <a href="https://www.instagram.com/manimightyboy/"><img src="{% static 'images/instagram.png' %}" alt="" width="30px"><span>Instagram</span></a>
            <a href="https://github.com/khagesh000" style="margin-right: 20px;"><img src="{% static 'images/github.png' %}" alt=""><span>Github</span></a>
            <a href="mailto:yeraganakhagesh@gmail.com"><img src="{% static 'images/gmail.png' %}" alt=""  width="30px"><span>Gmail</span></a>
            <a href="#"><img src="{% static 'images/facebook.png' %}" alt=""  width="30px"><span>Facebook</span></a>
            
        </div>
        <div id="tag-name">
                <h1>About</h1>
                <p>Home</p>
                <p>Love calculator</p>
                <p>Visit beautiful places</p>
                <p>Contact us</p>
        </div>
         <div id="feedback">
              <h1>Feedback</h1>
              <textarea name="message" id="message" cols="30" rows="5"></textarea><br>
              <div id="last1"></div><br>
              <button onclick="return fn2()" id="lstbtn">submit</button>
         </div>
        </div>
    </section>

     <section id="last">
           <h3>Love calculator</h3>
     </section>
    {% block content %}
    {% endblock %}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>



</html>
